/target/

*.p12

*.xlsx

gmail_credentials.json

src/main/resources/application.conf

src/main/resources/application.properties

src/main/resources/application.properties.prod

src/main/resources/application.yml

*.properties

src/main/resources/auth0.properties.prod

GCP-MyFirstProject-1c31159db52c.json

LOG_FILE_IS_UNDEFINED
